#PantallaPantallaRecuperarPassword{
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(218, 223, 213);
}

#PedirDatos_PantallaRecuperarPassword{
    height: 55vh;
    width: 30vw;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    background-color: white;
    border-radius: 2vh;


}

#ParteArriba_PantallaRecuperarPassword{
    height: 10vh;
    width: 30vw;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin-top: 3vh;
    margin-right: 2vw;

}

#BotonAtras_PantallaRecuperarPassword{
    height: 3.5vh;
    width: 2vw;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 0.1vh solid black;
    border-radius: 2vh;
    
    font-size: 1.5vw;
    
}

#BotonAtras_PantallaRecuperarPassword:hover{
    height: 4vh;
    font-size: 2vw;
    cursor: pointer;
    border-radius: 0.2vh solid black;
}

#TextoInicioSesion_PantallaRecuperarPassword{
    height: 10vh;
    width: 15vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2vw;
    border-bottom: 0.1vh solid grey;
    margin-right: 5.5vw;
}

#ParteDatos_PantallaRecuperarPassword{
    height: 30vh;
    width: 30vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin-top: -1vh;
}

#Inputs_PantallaRecuperarPassword{
    height: 20vh;
    width: 20vw;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

#Inputs_PantallaRecuperarPassword input{
    height: 3vh;
    width: 13vw;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    border: 0.2vh solid black;

}

#Input1_PantallaRecuperarPassword{
    height: 10vh;
    width: 20vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-right: 2vw;

}

#TextoInput_PantallaRecuperarPassword{
    height: 10vh;
    width: 15vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.9vw;
    margin-right: 5.5vw;
}

#BotonInicio_PantallaRecuperarPassword {
    height: 5vh;
    width: 9vw;
    margin-right: 2vw;
}

#BotonInicio_PantallaRecuperarPassword button{
    height: 5vh;
    width: 9vw;

    background-color: rgb(217, 234, 248); 
    color: black; 
    border: 0.3vh solid black;
    
}

#BotonInicio_PantallaRecuperarPassword p{
    font-size: 0.75vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#BotonInicio_PantallaRecuperarPassword button:hover{
    cursor: pointer;
    background-color: #008CBA;
    color: white;
    
}

#ParteErrores{
    height: 2vh;
    width: 20vw;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: -3vh;
    margin-bottom: 2vh;
    font-size: 0.7vw;
    margin-right: 2vw;
    color: red;
}


